@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$background: #f4f6f9;
$dark: #2b2d3a;
$red: #ea4b4b;
$grey: #9ba3ad;
$brown: #b18d65;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  width: 100%;
  height: 100vh;
}
button,
input {
  outline: none;
  border: none;
}

.modal_header {
  display: flex;
  align-items: center;
  .modal_icon {
    margin-right: 5px;
  }
}
.btn {
  padding: 8px 15px;
  border-radius: 5px;
}
.red_button {
  background-color: $red;
  color: #fff;
  &:hover {
    opacity: 0.8;
  }
}
